{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog</h1>
    <h1>Add a Blog Entry</h1>
    
    <form action="/newpost" method='post'/>
        <p><label>Title for your new blog:<br><input type="text" name="title"/>{{ title }}</label></p>
        <p><label>Your new blog:<br><textarea name="body"></textarea></label></p>
        <p><input type="submit" value="Add Entry"/></p>
    </form>

<hr/>


{% for post in blog_posts %}
<p>{{post.title}}<br>{{post.body}}</p>
{% endfor %}


{% endblock %}